body { background-color: #f8fafc; font-family: 'Inter', sans-serif; color: #1e293b; }
.card { border: none; border-radius: 12px; box-shadow: 0 1px 3px rgba(0,0,0,0.1); margin-bottom: 1.5rem; }
.section-title { font-size: 0.875rem; font-weight: 700; text-transform: uppercase; color: #64748b; margin-bottom: 1rem; display: flex; align-items: center; gap: 0.5rem; }

/* color del  ID */
.id-label { background: #e2e8f0; border-radius: 6px; padding: 2px 8px; font-family: monospace; font-weight: bold; color: #0f172a; }

/* clima */
.weather-card { border: 1px solid #e2e8f0; color: #64748b; background: white; transition: all 0.3s ease; padding: 15px; border-radius: 10px; cursor: pointer; }
.btn-check:checked + .weather-card { background-color: #0d6efd !important; color: white !important; border-color: #0d6efd; box-shadow: 0 4px 10px rgba(13, 110, 253, 0.3); }

/* tabla */
.table thead th { background-color: #f1f5f9; text-transform: uppercase; font-size: 0.75rem; letter-spacing: 0.025em; border: none; vertical-align: middle; }
.status-select { border-radius: 20px; font-weight: 600; border: 1px solid #e2e8f0; }
.status-1 { color: #16a34a; background-color: #f0fdf4; border-color: #bbf7d0; }
.status-0 { color: #dc2626; background-color: #fef2f2; border-color: #fecaca; }

/* operadores */
.op-header-wrapper { position: relative; padding-top: 10px; min-width: 160px; }
.btn-delete-op { position: absolute; top: -10px; right: -5px; padding: 0px 6px; font-size: 0.75rem; border-radius: 50%; z-index: 10; }
.op-name-input { border: 1px dashed #cbd5e1; background: transparent; font-weight: bold; text-align: center; width: 100%; font-size: 0.75rem; text-transform: uppercase; }

/* Firma */
#preview-firma { max-width: 200px; max-height: 100px; display: none; border: 1px solid #e2e8f0; border-radius: 8px; margin-top: 10px; }